<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dogs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dogs</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #form="ngForm" (ngSubmit) = "onSubmit(form.value.selected)" >
    <ion-select name="selected" (ionChange)="changeValue($event)" ngModel>
    <ng-template #option ngFor let-dog [ngForOf]="dogs">
      <ion-select-option value={{dog}}>{{dog}}</ion-select-option>
    </ng-template>
  </ion-select>
  
  <input type="submit" value="submit" />
</form>



  <ion-slides scrollbar='true' >
    <!--
    <ng-template ngFor let-img [ngForOf]="images">
      <ion-slide>
        <ion-img [src]="img.url" style="height:300px" ></ion-img>
      </ion-slide>
    </ng-template>
    -->
      <ion-slide *ngFor="let img of images">
        <ion-img [src]="img" style="height:25%" ></ion-img>
      </ion-slide>
  </ion-slides>


  <!-- <app-explore-container name="Dogs page"></app-explore-container> -->
</ion-content>
